[user]
	name = Raaghav Arya
	email = raaghav448@gmail.com
[core]       
    editor = ~/.git-editor.sh
    pager = delta
[init]
	defaultBranch = main
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[delta]
    dark = true
    side-by-side = true

