[user]
    email = r-arya@ti.com
    name = a0507112
[core]       
    gitproxy = none for ti.com
    gitproxy = /home/a0507112/git-proxy.sh
    editor = ~/.git-editor.sh
    autocrlf = false
    pager = delta
[http]
    proxy = http://webproxy.ext.ti.com:80
[https]
    proxy = http://webproxy.ext.ti.com:80
[init]
	defaultBranch = main
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[delta]
    dark = true
    side-by-side = true

